<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MitCrash_CONTAIN_KEY</key>
	<true/>
	<key>MitCrash_ZOBIE_KEY</key>
	<false/>
	<key>MitCrash_UIVIEW_KEY</key>
	<true/>
	<key>MitCrash_TIMER_KEY</key>
	<false/>
	<key>MitCrash_NOTI_KEY</key>
	<false/>
	<key>MitCrash_KVO_KEY</key>
	<false/>
	<key>MitCrash_UNRECOG_KEY</key>
	<false/>
</dict>
</plist>
